<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="beanTraderBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="BeanTraderServer.BeanTrader" behaviorConfiguration="beanTraderBehaviour">
        <endpoint address="BeanTraderService" binding="netTcpBinding" bindingConfiguration="WindowsClient" contract="BeanTrader.IBeanTrader">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <!-- Requires: netsh http add urlacl url=http://+:8080/ user=REDMOND\mikerou -->
            <add baseAddress="http://localhost:8011/" />
            <add baseAddress="net.tcp://localhost:90/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="WindowsClient">
          <!-- Was going to use TransportWithMessageCredential security, but 
               that is not yet supported on .NET Core. https://github.com/dotnet/wcf/issues/8 -->          
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
