@model string[]

@if(Model != null && Model.Length > 0)
{
    <div>
        <p>@Model[0]</p>
    </div>
}

<div>
    <h1>Hello world!</h1>
    <p>This is the body</p>
</div>

@if(Model != null && Model.Length > 1)
<h1>
    Hi!
</h1>