<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultTheme" value="Default" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_BeanTraderService">
          <!-- Was going to use TransportWithMessageCredential security, but
               that is not yet supported on .NET Core. https://github.com/dotnet/wcf/issues/8 -->
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8090/BeanTraderService"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_BeanTraderService"
          contract="BeanTraderService" name="NetTcpBinding_BeanTraderService">
        <identity>
          <dns value="BeanTrader" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
