<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.0" targetFramework="net472" />
  <package id="Castle.Windsor" version="4.1.1" targetFramework="net472" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net472" />
  <package id="Hyak.Common" version="1.0.2" targetFramework="net472" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net472" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net472" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net472" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.6.3" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.6.3" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.Net.Http" version="2.2.22" targetFramework="net472" />
  <package id="Microsoft.NetCore.Analyzers" version="2.6.3" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.6.3" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.8" targetFramework="net472" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.7" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net472" />
  <package id="Nito.AsyncEx" version="4.0.1" targetFramework="net472" />
  <package id="Text.Analyzers" version="2.6.3" targetFramework="net472" developmentDependency="true" />
</packages>
